{% extends "profile.html" %}
{% block title %}Event{% endblock %}
{% block content %}
<div class="col-md-4 border-right">
  <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
      class="img-thumbnail mt-5 mb-5 w-100 h-100" width="150px" src="../static/event.avif">
    <span class="font-weight-bold font-large">{{ event.EName
      }}</span>
    <span class="text-black-50">
      DBMS Fest 2024
    </span>
  </div>
</div>
<div class="col-md-8">
  <div class="p-3 py-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="text-right">Event Details</h4>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Date:</strong> {{ event.Date }}</p>
        <p class="card-text"><strong>Description:</strong> {{ event.Desc }}</p>
        <p class="card-text"><strong>Winner 1:</strong> {{ event.Winner1 }}</p>
        <p class="card-text"><strong>Winner 2:</strong> {{ event.Winner2 }}</p>
        <p class="card-text"><strong>Winner 3:</strong> {{ event.Winner3 }}</p>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Register for Event</h5>
        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% if user %}
            {% if role == 'external' %}
            <input type="hidden" name="role" value="external">
            <button type="submit" class="btn btn-primary">Register as participant</button>
            {% elif role == 'user' %}
            <input type="hidden" name="role" value="student">
            <button type="submit" class="btn btn-primary">Register as participant</button>
            <input type="hidden" name="role" value="volunteer">
            <button type="submit" class="btn btn-primary">Register as volunteer</button>
            {% endif %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}