{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Organizer Panel</h1>
<form method="POST">
    <h3 align="center">Welcome to the Organizer Panel</h3>
    <!-- input for mail input -->
    <div class="form-group">
        <label for="subject">Enter subject</label>
        <input
            type="textarea"
            class="form-control"
            id="subject"
            name="subject"
            placeholder="Enter subject"
        />
    </div>

    <div class="form-group">
        <label for="email">Enter mail</label>
        <input
            type="textarea"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />
    </div>

    <div class="form-group">
        <label for="all">Mail all</label>
        <input
            type="radio"
            class="form-control"
            id="all"
            name="all"
            value="all"
            onchange="showHide()"
        />
    </div>

    <!-- sent to email input -->
    <div class="form-group" id="sent_to" style="display: none">
        <label for="sent_to">Sent to</label>
        <input
            type="text"
            class="form-control"
            id="sent_to"
            name="sent_to"
            placeholder="Enter email"
        />
    </div>

    <script>
        function showHide() {
            var role = document.getElementById("all").value;
            var sent_to = document.getElementById("sent_to");
            if (role == "all") {
                sent_to.style.display = "none";
            } else {
                sent_to.style.display = "block";
            }
        }
    </script>

    <br />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Send</button>
</form>

    
{% endblock %}


