body {
    background-image: url('../static/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px; 
    max-width: 70%;
}


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* Increase font size and change font family for user name */
.font-large {
    font-size: 24px; /* Adjust size as needed */
    font-family: Arial, sans-serif; /* Change font family as needed */
}

/* Increase font size and add spacing for col-md-12 class divs */
.col-md-12 {
    font-size: 18px; /* Adjust size as needed */
    margin-top: 10px; /* Add spacing above */
    margin-bottom: 10px; /* Add spacing below */
}

.btn-primary {
    background-color: #682773;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
